*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    background-color:rgb(225, 225, 16);
}
.container {
    margin: 20px auto;
    width: 680px;
    height: 680px;
    background-color: rgb(225, 225, 16);
    display: grid;
    grid-template-columns: 340px 340px;
    /*grid-row: auto;*/
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.box {
    
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}
#game1{
    background-image: url("./Utils/images_menu/img_joc1.jpeg");
}
#game2{
    background-image: url("./Utils/images_menu/img_joc2.jpeg");
}
#game3{
    background-image: url("./Utils/images_menu/img_joc3.jpg");
}
#game4{
    background-image: url("./Utils/images_menu/img_joc4.jpg");
}
#mr_smurf {
    position:absolute;
    top:330px;
}
#lady_smurf {
    position:absolute;
    top:330px;
    left:1150px;
}
#medalie1{
    position:absolute;
    top:30px;
    left:700px;
}
#medalie2{
    position:absolute;
    top:30px;
    left:1060px;
}
#medalie3{
    position:absolute;
    top:380px;
    left:700px;
}
#medalie4{
    position:absolute;
    top:380px;
    left:1060px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }