*,*::before, *::after{
    box-sizing: border-box;
    font-family: Calibri, serif;
}

:root{
    --hue-neutral: 50;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    /*width: 100vw;*/
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
    background-color:hsl(var(--hue),70%, 70%);
    //overflow: hidden;

}
body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}

.container{
    width: 700px;
    height: 700px;
    max-width: 50%;
    text-align: center;
    font-size: x-large;
    border-radius: 5px;
    bottom: 0;
}
#winnie{
    padding-top: 70px;
    height: 350px;
}
.btn-grid{
    padding-left: 60px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    /*gap: 5px;*/
    margin: 0 0;
    padding-top: 30px;
    justify-content: center;
    /*align-items: center;*/
    /*align-items: center;*/
}

.btn{
    /*--hue: var(--hue-neutral);*/
    border: 1px solid hsl(var(--hue), 100%, 30%);
    /*background-color: hsl(var(--hue),100%, 50%);*/
    /*background-image: url("Home//Game2//pictures//next-arrow.webp");*/
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    height: 200px;
    width: 200px;
}

.question{
    justify-content: center;
    bottom: 0;
}
.btn-answer{
    border: 1px solid black;
    border-radius: 15px;
    width: 80%;
    height: 90%;
    vertical-align: middle;
}

.btn:hover{
    border-color: black;
}

img.correct{
--hue: var(--hue-correct);
    //color: black;
    border-color: green;
    border-width: 3px;
    //border: 1px solid hsl(var(--hue), 100%, 30%);
}

img.wrong{
    --hue: var(--hue-wrong);
    //color: black;
    border-color: red;
    border-width: 3px;
    //border: 1px solid hsl(var(--hue), 100%, 30%);
}

.popup{
    position: absolute;
    width: 400px;
top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%, -50%);
}

.next-btn{
    color:black;
    /*font-size: 1.5rem;*/
    /*font-weight: bold;*/
    /*padding: 10px 20px;*/
    position: absolute;
    right: 60px;
    bottom: 0;
    width: 120px;
    height: 120px;
}

.start-btn{
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
.popup-fail {
    display: none;
    width: 600px;
    height: 600px;
    position: absolute;
    top: calc((100vh - 600px) / 2);
    left: calc((100vw - 600px) / 2);
    border-radius: 20px;
    background: url("pictures/sad-winnie.gif") no-repeat center;
    background-color: darkred;

}
.popup-success {
    display: none;
    width: 600px;
    height: 600px;
    position: absolute;
    top: calc((100vh - 600px) / 2);
    left: calc((100vw - 600px) / 2);
    border-radius: 20px;
    /*background: url("pictures/happy-friends.png") no-repeat center;*/
    background-color: darkgreen;

}
.friends{
    position: absolute;
    height: 300px;
    left: 120px;
    top: 150px;
}


.home {
    position: absolute;
    bottom: 30px;
    left: 40%;
    height: 100px;
}


.medal {
    position: absolute;
    top: 30px;
    left: 40%;
    height: 100px;
}




