html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F7A1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.question {
  height: 500px;
  width: 650px;
  margin: 0 auto;
  margin-top: 150px;
  border: 2px solid black;
  position: relative;

  .container {
    position: absolute;
    width: 140px;
    bottom: 10px;
    right: 25%;
    left: 50%;
    margin-left: -25px;
    display: flex;
    justify-content: space-between;
  }

  input {
    height: 60px;
    width: 60px;
    font-size: 45px;
    cursor: pointer;
    text-align: center;
  }

  &.correctAnswer {
    border: 4px solid green;
  }

  &.wrongAnswer {
    border: 4px solid red;
  }

  .feedback {
    height: 50px;
    width: 50px;
    display: none;
  }
}

#firstQuestion {
  background: url("../images/tigers.png") no-repeat center top;
}

#secondQuestion {
  background: url("../images/mice.png") no-repeat bottom;
}

#thirdQuestion {
  background: url("../images/rabbits.png") no-repeat center;
}

#fourthQuestion {
  background: url("../images/monkeys.png") no-repeat center top;
}

.finalModal {
  display: none;
  width: 600px;
  height: 600px;
  position: absolute;
  top: calc((100vh - 600px) / 2);
  left: calc((100vw - 600px) / 2);
  border-radius: 20px;

  .medal {
    display: none;
  }

  .home {
    position: absolute;
    bottom: 30px;
    left: 40%;
    height: 100px;
  }

  &.success {
    background: url("../images/animalsFinal.png") no-repeat center top;
    background-color: green;

    .medal {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      height: 120px;
    }
  }

  &.fail {
    background: url("../images/sadAnimalsFinal.png") no-repeat center top;
    background-color: darkred;
  }
}